.container
{ 
    display: inline-block;
    left: 30%;
    top: 10%;
    margin: 10px;
} 
  
.grid 
{ 
    display: grid;
    grid-template-columns: repeat(8,90px);
    grid-template-rows: repeat(8, 90px);
    grid-gap: 3px;
} 
  
.field
{ 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 84px;
} 
 
.piece {
    cursor: pointer;
}
