.chat {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 400px;
  height: 500px;
  overflow: auto;
  margin: 10px;
  background-color: #a6bac4;
}


.message {
  font-size: 10px;
  width: 80%;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  background-color: #4d2233;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

.message small {
  position: relative;
  left: 80%;
}
