.chat {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 400px;
  height: 500px;
  overflow: auto;
  margin: 10px;
}


.message {
  font-size: 12px;
  background-color: #fff;
  width: 80%;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  border-radius: 4px;
  background-color: brown;
  color: #fff;
}


