.container
{ 
    display: inline-block;
    left: 30%;
    top: 10%;
    margin: 10px;
} 
  
.grid 
{ 
    display: grid;
    grid-template-rows: repeat(8, 90px);
    grid-template-columns: repeat(8,90px);
    grid-gap: 3px;
    background-color: #2d3b42;
    width: 740px;
    height: 102%;
} 
  
.field
{ 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 84px;
} 

.field
{ 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 84px;
    background-color: #B3D9FF;
} 


.field:nth-child(-2n+8), 
.field:nth-child(8) ~ .field:nth-child(-2n+15), 
.field:nth-child(16) ~ .field:nth-child(-2n+24),
.field:nth-child(24) ~ .field:nth-child(-2n+31),
.field:nth-child(32) ~ .field:nth-child(-2n+40),
.field:nth-child(40) ~ .field:nth-child(-2n+47),
.field:nth-child(48) ~ .field:nth-child(-2n+56),
.field:nth-child(56) ~ .field:nth-child(-2n+63){ 
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 84px;
    background-color: #00404D;
} 
 
.piece {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1mm ridge transparent;
}

.piece:hover
{ 
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  border: 1mm ridge #0095B3;
} 

.piece:active
{ 
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
  border: 2mm ridge #0095B3;
} 

.piece {
    cursor: pointer;
}

.piece img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38px;
}
.reach {
    background-color: rgba(255,255,179);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.reach:hover {
    background-color: rgba(255,255,179);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
    border: 1mm ridge #fff;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.vischeck {
  position: absolute;
  color: red;
  font-size: 25px;
  margin: 10px;
  right: 0;
  bottom: 0;
  font-family: 'Press Start 2P', cursive;
}

.hidde-check {
  display: none;
}

.visEnd {
  position: absolute;
  color: #fff;
  font-size: 45px;
  margin: 10px;
  right: 0;
  left: 0;
  font-family: 'Press Start 2P', cursive;

}

.hidde-end {
    display: none;
}


@media screen and (max-width: 700px) {
    .grid {
      width: 540px;
      height: 102%;
    }

}

