.menu_back {
  background-color: #0e0f0d;
  margin: 20px;
}

@font-face {
  font-family: 'Pixel';
  src: url('../fonts/pixelFJ8pt1__.TTF');
}

.game-first {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
  margin-top: 10px;
  align-items: center;
  padding-left: 10px;
  color: #fff;
}

.game-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: auto;
  font-family: 'Pixel';
  font-size: 12px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
}

.game-row:hover {
  color: #80D4FF;

}

.game-row p {
  padding-left: 10px;
  padding-top: 10px;
}


